html,
body {
    height: 100%;
    /*overflow-x: auto;*/
    padding: 0;
    margin: 0;
}

a:hover{text-decoration: none;}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}
.wrap > .custom-container{
	padding:44px 0 0 0 ;
	
}

/*
 * rewrite ace css
 */
input[type=checkbox]{
	opacity: 1;
	width: 16px;
	height: 16px;
	position: relative;
}

input[type=radio] {
  opacity: 1;
  position: relative;
  z-index: 12;
  width: 18px;
  height: 18px;
}


.table>tbody > tr > td{
	vertical-align:middle;
}
